# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*pyc
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
backend/.env
backend/Dockerfile
backend/entrypoint.sh
.gitignore
frontend/Dockerfile
frontend/nginx/
.gitignore
.env
backend/portafolio/core/__pycache__/__init__.cpython-39.pyc
backend/portafolio/core/__pycache__/admin.cpython-39.pyc
backend/portafolio/core/__pycache__/apps.cpython-39.pyc
backend/portafolio/core/__pycache__/models.cpython-39.pyc
backend/portafolio/core/__pycache__/serializers.cpython-39.pyc
backend/portafolio/core/__pycache__/urls.cpython-39.pyc
backend/portafolio/core/__pycache__/views.cpython-39.pyc
backend/portafolio/portafolio/__pycache__/__init__.cpython-39.pyc
backend/portafolio/portafolio/__pycache__/settings.cpython-39.pyc
backend/portafolio/portafolio/__pycache__/urls.cpython-39.pyc
backend/portafolio/media/media/